.hunts

    table.table.table-striped(
        ng-repeat="hunt in hunts.hunts"
        ng-init="order = 'id'; direction = {}; search = ''; expand = false"
    )
        thead
            tr(ng-click="expand = !expand")
                th(colspan=5) {{hunt.name}}
            tr(ng-show="expand")
                th(sort='id', width="15%") Program
                th(sort='name', width="15%") Name
                th
                    form.form-inline(role="form")
                        .form-group.has-feedback.expand
                            label.control-label(for="search") Description
                            .pull-right.hidden-print
                                input#search.form-control.input-sm(
                                    type="search"
                                    placeholder="Search..."
                                    ng-model="search"
                                )
                                span.glyphicon.glyphicon-search.form-control-feedback
                th(sort='points', width="12%") Points
                th.visible-print(width='10%') Finished
        tbody(ng-show="expand")
            tr(ng-repeat="item in hunt.scripts | orderBy:order:direction[order] | filter:search")
                td {{ item.id }}
                td {{ item.name }}
                td {{ item.description }}
                td {{ item.points }}
                td.visible-print
