.submissions.jumbotron.hidden-print
    .row
        .col-md-2.text-right
            label(for='name') Name
        .col-md-10
            input.form-control#name(
                type="text"
                autocomplete="off"
                required
                placeholder="name"
                ng-disabled="submit.locked"
                ng-model="submit.student"
                ng-model-options="{ updateOn: 'blur' }"
                typeahead="student.name for student in submit.students.students | filter:$viewValue"
            )
    .row
        .col-md-2.text-right
            label.text-right(for='file') File
        .col-md-10
            div.form-control#file(
                accept=".py"
                file-input='submit.file'
                on-change='submit.loadScript()'
            )
    .row(ng-show="submit.file.name && !submit.invalid")
        .col-md-2.text-right
            strong {{submit.file.name}}
        .col-md-2
            strong {{submit.points}} Point{{ submit.point > 0 ? 's' : '' }}
        .col-md-8
            pre {{submit.prompt}}
    .row(ng-show="submit.file.name && !submit.invalid")
        .col-md-3.text-right
            strong Comments
            br
            | Explain how you created this program.
        .col-md-9
            textarea.form-control(
                rows="6"
                ng-model="submit.comments"
            )

    .row(ng-show="submit.file.name && !submit.invalid")
        .col-md-12
            ui-codemirror(
                 ui-codemirror-opts="{\
                    lineWrapping: false,\
                    lineNumbers: true,\
                    readOnly: true,\
                    mode: 'python'\
                 }"
                 ng-model="submit.script"
            )

    .row(ng-show="submit.student && submit.comments.length > 15")
        button.btn.btn-primary(
            type="button"
            ng-click="submit.submit()"
        ) Submit

    .row(ng-show="submit.invalid")
        .col-md-12.alert.alert-warning
            strong {{submit.file.name}}&nbsp;
            | is not a scaveger hunt program. (Is the filename capitalized correctly?)

    .row(ng-show="submit.uploadSuccess")
        .col-md-12.alert.alert-success
            strong {{submit.uploaded}}&nbsp;
            | was uploaded successfully.
            .pull-right
                button.close(
                    type="button"
                    aria-hidden="true"
                    ng-click="submit.clearAlerts()"
                ) &times;

    .row(ng-show="submit.uploadError")
        .col-md-12.alert.alert-danger
            strong {{submit.uploaded}}&nbsp;
            | didn't run.
            .pull-right
                button.close(
                    type="button"
                    aria-hidden="true"
                    ng-click="submit.clearAlerts()"
                ) &times;
            pre {{ submit.errorLog }}
