doctype html5
html(lang='en', ng-app='scavengerSubmissions')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')

    title UAG TEALS Scavenger Hunt

    link(rel='stylesheet', href='/vendors/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendors/angular-ui/build/angular-ui.css')
    link(rel='stylesheet', href='/vendors/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='/vendors/codemirror/theme/eclipse.css')

    link(rel='stylesheet', href='/all.css')
    link(rel='stylesheet', href='/screen.css', media="screen")
    link(rel='stylesheet', href='/print.css', media="print")

    script(src="/vendors/angular/angular.min.js")
    //- script(src="/vendors/angular-ui/build/angular-ui.js")
    script(src="/vendors/codemirror/lib/codemirror.js")
    script(src="/vendors/codemirror/mode/python/python.js")
    script(src="/vendors/angular-bootstrap/ui-bootstrap.js")
    script(src="/vendors/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="/vendors/angular-ui-codemirror/ui-codemirror.js")
  body(ng-controller="ScavengerCtrl as hunt")
    .container
        .header
            h3.text-muted
              | UAG TEALS Scavenger Hunt

        .jumbotron
            .row
                .col-md-2.text-right
                    label(for='name') Name
                .col-md-10
                    input.form-control#name(
                        type="text"
                        autocomplete="off"
                        required
                        placeholder="name"
                        ng-model="hunt.student"
                        ng-model-options="{ updateOn: 'blur' }"
                        typeahead="student for student in hunt.students | filter:$viewValue"
                    )
            .row
                .col-md-2.text-right
                    label.text-right(for='file') File
                .col-md-10
                    div.form-control#file(
                        accept=".py"
                        file-input='hunt.file'
                        on-change='hunt.loadScript()'
                    )
            .row(ng-show="hunt.file.name && !hunt.invalid")
                .col-md-2.text-right
                    strong {{hunt.file.name}}
                .col-md-2
                    strong {{hunt.points}} Point{{ hunt.point > 0 ? 's' : '' }}
                .col-md-8
                    pre {{hunt.prompt}}
            .row(ng-show="hunt.file.name && !hunt.invalid")
                .col-md-3.text-right
                    strong Comments
                    br
                    | At least a couple words
                .col-md-9
                    textarea.form-control(
                        rows="6"
                        ng-model="hunt.comments"
                    )

            .row(ng-show="hunt.file.name && !hunt.invalid")
                .col-md-12
                    ui-codemirror(
                         ui-codemirror-opts="{\
                            lineWrapping: false,\
                            lineNumbers: true,\
                            readOnly: true,\
                            mode: 'python'\
                         }"
                         ng-model="hunt.script"
                    )

            .row(ng-show="hunt.student && hunt.comments.length > 15")
                button.btn.btn-primary(
                    type="button"
                    ng-click="hunt.submit()"
                ) Submit

            .row(ng-show="hunt.invalid")
                .col-md-12.alert.alert-danger
                    strong {{hunt.file.name}}&nbsp;
                    | is not a valid program.
            .row(ng-show="hunt.uploadSuccess")
                .col-md-12.alert.alert-success
                    strong {{hunt.uploaded}}&nbsp;
                    | was uploaded successfully.

        .container
            table.table.table-striped
                tr
                    th Name
                    th Description
                    th Points
                tr(ng-repeat="(name, item) in hunt.items")
                    td {{ name }}
                    td {{ item.description }}
                    td {{ item.points }}

    script(src="/app.js")
    script(src="/templates.js")

